body {
    font-family: "Georgia", serif;
    background-color: #fff7f0;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.pixabay.com/photo/2023/10/30/10/24/bottle-8352498_960_720.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header, footer {
    background-color: #e0c9a6;
    text-align: center;
    padding: 1rem;
    color: #3b2e1e;
}

h1 {
    margin-bottom: 0.2rem;
    text-decoration: underline;
}

main, h2, h3, p, ul {
    max-width: 900px;
    margin: auto;
    padding: 0 1rem;
}

h2 {
    border-bottom: 2px solid #b99764;
    margin-top: 2rem;
}

h3 {
    margin-top: 1rem;
    color: #5a4323;
}

p, ul {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #b88a44;
    border-radius: 8px;
    padding: 1rem;
    max-width: 900px;
    margin: 0.5rem auto;
}

ul {
    background: #fff1e3;
    border-radius: 10px;
    padding: 1rem;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        text-align: center;
    }
}
